    <!-- Header-->  
   <header class='bg-dark py-5'>  
       <div class='container px-4 px-lg-5 my-1'>  
           <div class='text-center text-white'>  
               <h1 class='display-4 fw-bolder'>Stanje po vodih</h1>  
               <p class='lead fw-normal text-white-50 mb-0'>Kakšna je bilanca vsakega voda?</p>  
           </div>  
       </div>  
   </header>
   
   <!-- Section-->  
    <section class='py-5'>  

        <div class="container px-4 px-lg-5 mt-5" id="container">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="row">

                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-archive-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Orli</h5>
                                <p id="orli">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/orli">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-pin-map-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Levi</h5>
                                <p id="levi">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/levi">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-archive-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Tigri</h5>
                                <p id="tigri">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/tigri">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="row">

                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-pin-map-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Pume</h5>
                                <p id="pume">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/pume">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-archive-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Kune</h5>
                                <p id="kune">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/kune">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-pin-map-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Gazelce</h5>
                                <p id="gazelce">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/gazelce">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <i class="bi bi-archive-fill" style="font-size: 3rem"></i>
                                <h5 class="fw-bolder mt-4">Lisice</h5>
                                <p id="lisice">Stanje: XX</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/lisice">Preglej</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>  


    </section>  

    <script src="/pregled.js"></script>