<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container p-4">
        <nav class="mb-4"><a
          href="/"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Pregled</a>
        <a
          href="/orli"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Orli</a>
        <a
          href="/levi"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Levi</a>
        <a
          href="/tigri"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Tigri</a>
        <a
          href="/pume"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Pume</a>
        <a
          href="/kune"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Kune</a>
        <a
          href="/gazelce"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Gazelce</a>
        <a
          href="/lisice"
          class="btn btn-sm btn-outline-dark mt-4"
          role="button"
        >Lisice</a>
        
        </nav>
      {{{body}}}
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>